<header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg-secondary">
  <a routerLink="/" class="d-flex align-items-center mb-1 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <img src="../assets/images/logo.svg" alt="Beyondi" id="logo">
  </a>

  <ng-container *ngIf="isUserLoggedIn && user !== null">
    <ul class="nav nav-pills me-md-5">
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/product-new">
          New Product
        </a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/products">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admins">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-new">Add Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <span class="mx-3 my-2 text-white">
      Logged in as <br>
      {{ user.name }}
    </span>
  </ng-container>
</header>
